html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

h3 {
  text-align: center;
  padding: 2rem 1rem;
  color: white;
  letter-spacing: 2px;
  font-size: 3rem;
}

p {
  color: #ddd;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  justify-content: center; /* Center the content vertically */
  height: 100vh; /* Set the container height to the full viewport height */

  /* Additional styling for better visualization, adjust as needed */
  padding: 20px;
}


.controls {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 1;
  width: 300px;
  border: none;
  border-radius: 14px;
  color: rgb(188, 88, 88);
  cursor: pointer;
  transition: background-size 0.5s ease-in-out, transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.controls input {
  border: blueviolet;
}

.addressInput-field {
  width: 100%;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* Take the full viewport width */
  height: 100vh; /* Take the full viewport height */
}

.highlight {
  font-size: 1.25rem;
  font-weight: bold;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}

.marker-type-input-bar {
  position: absolute;
  left: 300px;
}

.header-snow-roof4 {
  position: absolute;
  top: -23px;
  left: 25px;
  width: 15%;
  height: 21%; /* Set an appropriate height */
  background-image: url('images/snow-roof-long.png');
  background-size: contain; /* cover or contain */
  background-repeat: no-repeat;
  background-position:center;
}

.candy-cane {
  position: absolute;
  top: 1px; /* Adjust the top position */
  left: 40px; /* Adjust the left position */
  height: 40px;
  width: 40px;
  background-image: url('images/candy-cane.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}

.menu-button,
.menu-inside {
  
  position: fixed;
}

.menu-button {
  top: 10px;
  right: 10px;
}

.menu-inside {
  top: 60px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-button {
  background-image: url('images/not-logged-icon.png');
  height: 30px;
  width: 30px;
  background-size: cover;
  background-color: white;
  border: 2px solid white;
  border-radius: 14px;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.map-buttons {
  position: absolute;
  bottom: 0px;
  left: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.map-buttons button {
  background-color: transparent;
  color: white;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.map1-button {
  height: 80px;
  width: 80px;
  background: url('images/snow-layer-map1.png');
  background-size: cover;
  background-color: white;
  border: 2px solid white;
  border-radius: 14px;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-size 0.4s ease-in-out, transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.map1-button:hover {
  background-color: rgba(19, 123, 242, 0.3);
  transform: scale(1.1);
}

.map2-button {
  position: relative;
  height: 80px;
  width: 80px;
  background: url('images/night-layer-map2.png');
  background-size: cover;
  background-color: rgba(123, 120, 120, 0.8);
  border: 2px solid rgb(123, 120, 120);
  border-radius: 14px;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-size 0.4s ease-in-out, transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  backdrop-filter: blur(100px);
}

.map2-button.isNotLogged::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('images/locked.png') center center/cover no-repeat;
  background-size: 78%;
  background-color: rgba(57, 60, 64, 0.5);
  border-radius: inherit; 
  z-index: 1;
  backdrop-filter: none;
}

.map2-button:hover {
  background-color: rgba(87, 113, 143, 0.3);
  transform: scale(1.1);
}

.recenter-button {
  position: absolute;
  top: 30px;
  left: 320px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  height: 40px;
  width: 40px;
  background: url('images/recenter-icon.png');
  background-size: cover;
  background-color: transparent;
  border: transparent;
  border-radius: 14px;
  padding: 10px;
  cursor: pointer;
  transition: background-size 0.3s ease-in-out, transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.recenter-button button {
  background-color: transparent;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.recenter-button:hover {
  background-color: rgb(179, 207, 231);
  transform: scale(1.2);
}

.filter-menu {
  position: absolute;
  top: 35px;
  left: 700px;
  display: flex; /* Use flex to arrange checkboxes in a row */
  flex-wrap: wrap; /* Allow items to wrap onto the next line */
}

.filter-item {
  margin-right: 8px; /* Adjust as needed for horizontal separation */
  margin-bottom: 8px; /* Adjust as needed for vertical separation */
}

.filter-label {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.377);
  border-radius: 10px;
  backdrop-filter: blur(8px);
  transition: background-size 0.3s ease-in-out, transform 0.3s, background-color 0.3s ease
}
  
.filter-item input[type="checkbox"] {
  display: none;
}

/* Style for the checked state */
.filter-label input:checked {
  background-color: #333 !important;
}

.filter-item:nth-child(1) .filter-label:hover {
  background-color: rgba(57, 180, 221, 0.8);
  transform: scale(1.2);
}

.filter-item:nth-child(2) .filter-label:hover {
  background-color: rgba(24, 119, 191, 0.8);
  transform: scale(1.2);
}
.filter-item:nth-child(3) .filter-label:hover {
  background-color: rgba(16, 188, 162, 0.8);
  transform: scale(1.2);
}

.filter-item:nth-child(4) .filter-label:hover {
  background-color: rgba(118, 151, 183, 0.8);
  transform: scale(1.2);
}
.filter-item:nth-child(5) .filter-label:hover {
  background-color: rgba(216, 168, 109, 0.8);
  transform: scale(1.2);
}

.filter-item:nth-child(6) .filter-label:hover {
  background-color: rgba(220, 144, 144, 0.8);
  transform: scale(1.2);
}

.filter-item:nth-child(7) .filter-label:hover {
  background-color: rgba(127, 161, 224, 0.8);
  transform: scale(1.2);
}
.filter-item:nth-child(8) .filter-label:hover {
  background-color: rgba(57, 180, 221, 0.8);
  transform: scale(1.2);
}

.filter-item:nth-child(9) .filter-label:hover {
  background-color: rgba(24, 119, 191, 0.8);
  transform: scale(1.2);
}
.filter-item:nth-child(10) .filter-label:hover {
  background-color: rgba(16, 188, 162, 0.8);
  transform: scale(1.2);
}

.filter-item:nth-child(11) .filter-label:hover {
  background-color: rgba(118, 151, 183, 0.8);
  transform: scale(1.2);
}
.filter-item:nth-child(12) .filter-label:hover {
  background-color: rgba(216, 168, 109, 0.8);
  transform: scale(1.2);
}

.filter-item:nth-child(13) .filter-label:hover {
  background-color: rgba(220, 144, 144, 0.8);
  transform: scale(1.2);
}

.filter-item:nth-child(14) .filter-label:hover {
  background-color: rgba(127, 161, 224, 0.8);
  transform: scale(1.2);
}
.filter-item:nth-child(15) .filter-label:hover {
  background-color: rgba(57, 180, 221, 0.8);
  transform: scale(1.2);
}

.filter-item:nth-child(16) .filter-label:hover {
  background-color: rgba(24, 119, 191, 0.8);
  transform: scale(1.2);
}
.filter-item:nth-child(17) .filter-label:hover {
  background-color: rgba(16, 188, 162, 0.8);
  transform: scale(1.2);
}

.filter-item:nth-child(18) .filter-label:hover {
  background-color: rgba(118, 151, 183, 0.8);
  transform: scale(1.2);
}
.filter-item:nth-child(19) .filter-label:hover {
  background-color: rgba(216, 168, 109, 0.8);
  transform: scale(1.2);
}

.filter-item:nth-child(20) .filter-label:hover {
  background-color: rgba(220, 144, 144, 0.8);
  transform: scale(1.2);
}

.filter-item:nth-child(21) .filter-label:hover {
  background-color: rgba(127, 161, 224, 0.8);
  transform: scale(1.2);
}

.info-window-form {
  border: #000;
}

.custom-textarea {
  width: 100%;
  height: 90px;
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
}

.save-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.save-button:hover {
  background-color: #3d9341;
}

.save-button-container {
  display: flex;
  justify-content: center;
}



/* CSS de la preload*/
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
}

.banner #Text {
  position: relative;
  font-size: 12em;
  color: #fff;
}

.banner .clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  
}


.banner .clouds .img1 {
  position: absolute;
  display: block;
  right: -110%;
  bottom: -90%; 
  min-width: 200%;
  scale: 0.6;
  animation: animate 3.2s linear 1 forwards;
  z-index: 7;
}

.banner .clouds .img2 {
  position: absolute;
  display: block;
  right: -50%;
  bottom: -90%; 
  min-width: 200%;
  scale: 0.6;
  animation: animate1 3.2s linear 1 forwards;
  z-index: 6;
}
.banner .clouds .img3 {
  position: absolute;
  display: block;
  right: -50%;
  bottom: -90%; 
  min-width: 200%;
  scale: 0.6;
  animation: animate2 3.2s linear 1 forwards;
  z-index: 19;
}
.banner .clouds .img4 {
  position: absolute;
  display: block;
  right: -50%;
  bottom: -90%; 
  min-width: 200%;
  scale: 0.6;
  animation: animate3 3.2s linear 1 forwards;
  z-index: 20;
}
.banner .clouds .img5 {
  position: absolute;
  display: block;
  right: -50%;
  bottom: -90%; 
  min-width: 200%;
  scale: 0.6;
  animation: animate4 3.2s linear 1 forwards;
  z-index: 50;
}
.banner .clouds .img6 {
  position: absolute;
  display: block;
  right: -50%;
  bottom: -90%; 
  min-width: 200%;
  scale: 0.6;
  animation: animate5 3.2s linear 1 forwards;
  z-index: 3;
}
.banner .clouds .img7 {
  position: absolute;
  display: block;
  right: -50%;
  bottom: -90%; 
  min-width: 200%;
  scale: 0.6;
  animation: animate6 3.2s linear 1 forwards;
  z-index: 3;
}   

@keyframes animate {
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  99% {
    opacity: 1;
    transform: translateX(8000px);
  }
  100%{
      opacity: 0;
  }
}
@keyframes animate1 {
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  99% {
    opacity: 1;
    transform: translateX(-4000px); 
  }
  100%{
      opacity: 0;
  }
}
@keyframes animate2 {
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  99% {
    opacity: 1;
    transform: translateX(3500px); 
  }

  100%{
      opacity: 0;
  }
}
@keyframes animate3 {
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-4000px); 
  }
}
@keyframes animate4 {
  0% {
    opacity: 1;
    transform: translateX(0);
    scale: 2;
  }
  99% {
    opacity: 1;
    transform: translateX(-4000px); 
  }
  100%{
      opacity: 0;
  }
}
@keyframes animate5 {
  0% {
    opacity: 1;
    transform: translateX(0);
    scale: 2;
  }
  99% {
    opacity: 1;
    transform: translateX(4000px); 
  }
  100%{
      opacity: 0;
  }
}
@keyframes animate6 {
  0% {
    opacity: 1;
    transform: translateX(0);
    scale: 2;
  }
  99% {
    opacity: 1;
    transform: translateX(-4000px); 
  }
  100%{
      opacity: 0;
  }
}

.preloader {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden !important;
}

.preloader .texts-container {
  display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      width: 280px;
      font-size: 20px;
      overflow: hidden;
      font-weight: 800;
      opacity: 0;
      color: white;
}


/*CSS LOGIN PAGE*/


.Loginheader {
  width: 350px;
  height: 400px;
  margin: 0 auto;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.Loginusername,
.Loginpassword {
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    align-items: center;
    margin: 0 2.5rem 1rem 2.5rem;
    outline: none;
    border-style: none;
    border: 1px solid #a3b18a;
}

.Loginheader input::placeholder {
  color: #ddd;
}

p {
  color: #ddd;
}

.Logincontainer {
    background: url('images/map1background.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    accent-color: #ffffff;
    font: "Lexend Deca", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.Logincontainer input {
    padding: 0.75rem 1.5rem;
    outline: none;
    border-style: none;
    background-color: transparent;
    color: #ddd;
}

.Loginbuttons {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.Loginremember {
  display: flex;
  align-items: center;
}

.Logincheckbox {
  outline: none;
  border-style: none;
  margin-right: 0.25rem;
  padding: 1rem;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  color: #ddd;
}

a:hover {
  opacity : 0.8
}

.Loginbtn-box {
  display: flex;
  justify-content: center;
}

.Loginbtn-box a {
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  outline: none;
  border-style: none;
  width: 75%;
  cursor: pointer;
  transition: all 0.5s;
  background-color: #fff;
  text-align: center;
  color: #a3b18a;
}

.Loginbtn-box a:hover {
  opacity: 0.8;
}
.Loginregister {
  display: flex;
  justify-content: center;
  font-style: 0.75rem;
  margin-top: 4rem;
  color: #a3b18a;
}

/* FIN DU CSS LOGIN COMPONENT */

/* CSS Menu Button */
:root {
  --background: #4285f4;
  --icon-color: #344955;
  --width: 50px;
  --height: 50px;
  --border-radius: 100%;
}

.wrapper {
  width: var(--width);
  height: var(--height);
  position: relative;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.9rem;
  margin-right: 0.3rem;
}

.fab {
  background: var(--background);
  width: var(--width);
  height: var(--height);
  position: relative;
  z-index: 3;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fab-animation-reverse 0.4s ease-out forwards;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4px;
    background: #fff;
  }

  &::before {
    width: 4px;
    height: 18px;
  }

  &::after {
    width: 18px;
    height: 4px;
  }
}

.fac {
  width: 27px;
  height: 150px;
  border-radius: 64px;
  position: absolute;
  background: #b2bed5;
  z-index: 0;
  padding: 0.5rem 0.5rem;
  box-shadow: 0 2px 4px rgba(23, 36, 87, 0.4);
  opacity: 0;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.2s ease-in, top 0.2s ease-in, width 0.1s ease-in;

  a {
    color: var(--icon-color);
    opacity: 0.8;

    &:hover {
      transition: 0.2s;
      opacity: 1;
      color: darken(#344955, 2%);
    }
  }
}

.wrapper input {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  cursor: pointer;
  position: absolute;
  z-index: 5;
  opacity: 0;

  &:checked {
    ~ .fab {
      animation: fab-animation 0.4s ease-out forwards;
    }

    ~ .fac {
      width: 32px;
      height: 150px;
      animation: fac-animation 0.4s ease-out forwards 0.1s;
      top: 70px;
      opacity: 1;
    }
  }
}

@keyframes fab-animation {
  0% {
    transform: rotate(0) scale(1);
  }
  20% {
    transform: rotate(60deg) scale(0.93);
  }
  55% {
    transform: rotate(35deg) scale(0.97);
  }
  80% {
    transform: rotate(48deg) scale(0.94);
  }
  100% {
    transform: rotate(45deg) scale(0.95);
  }
}

@keyframes fab-animation-reverse {
  0% {
    transform: rotate(45deg) scale(0.95);
  }
  20% {
    transform: rotate(-15deg);
  }
  55% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}

@keyframes fac-animation {
  0% {
    transform: scale(1, 1);
  }
  33% {
    transform: scale(0.95, 1.05);
  }
  66% {
    transform: scale(1.05, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}
/*FIN DU CSS MENU BUTTON */