html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  justify-content: center; /* Center the content vertically */
  height: 100vh; /* Set the container height to the full viewport height */

  /* Additional styling for better visualization, adjust as needed */
  padding: 20px;
}


.controls {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 1;
  width: 300px;
  border: none;
  border-radius: 14px;
  color: rgb(188, 88, 88);
  cursor: pointer;
  transition: background-size 0.5s ease-in-out, transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.controls input {
  border: blueviolet;
}

.addressInput-field {
  width: 100%;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* Take the full viewport width */
  height: 100vh; /* Take the full viewport height */
}

.highlight {
  font-size: 1.25rem;
  font-weight: bold;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}

.marker-type-input-bar {
  position: absolute;
  left: 300px;
}

.header-snow-roof1 {
  position: absolute;
  top: 0px;
  left: -635px; /*635*/
  width: 100%;
  height: 10%; /* Set an appropriate height */
  background-image: url('images/snow-roof-long.png');
  background-size: contain; /* cover or contain */
  background-repeat: no-repeat;
  background-position:center;
}
.header-snow-roof2 {
  position: absolute;
  top: 0px;
  left: 669px; /*633*/
  width: 100%;
  height: 10%; /* Set an appropriate height */
  background-image: url('images/snow-roof-long.png');
  background-size: contain; /* cover or contain */
  background-repeat: no-repeat;
  background-position:center;
}

.header-snow-roof3 {
  position: absolute;
  top: 0px;
  left: 17px;
  width: 100%;
  height: 10%; /* Set an appropriate height */
  background-image: url('images/snow-roof-long.png');
  background-size: contain; /* cover or contain */
  background-repeat: no-repeat;
  background-position:center;
}
.header-snow-roof4 {
  position: absolute;
  top: -23px;
  left: 25px;
  width: 15%;
  height: 21%; /* Set an appropriate height */
  background-image: url('images/snow-roof-long.png');
  background-size: contain; /* cover or contain */
  background-repeat: no-repeat;
  background-position:center;
}

.candy-cane {
  position: absolute;
  top: 1px; /* Adjust the top position */
  left: 40px; /* Adjust the left position */
  height: 40px;
  width: 40px;
  background-image: url('images/candy-cane.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}

.menu-button,
.menu-inside {
  position: fixed;
}

.menu-button {
  top: 10px;
  right: 10px;
}

.menu-inside {
  top: 60px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-button {
  background-image: url('images/not-logged-icon.png');
  height: 30px;
  width: 30px;
  background-size: cover;
  background-color: white;
  border: 2px solid white;
  border-radius: 14px;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.map-buttons {
  position: absolute;
  bottom: 0px;
  left: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.map-buttons button {
  background-color: transparent;
  color: white;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.map1-button {
  height: 80px;
  width: 80px;
  background: url('images/snow-layer-map1.png');
  background-size: cover;
  background-color: white;
  border: 2px solid white;
  border-radius: 14px;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-size 0.5s ease-in-out, transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.map1-button:hover {
  background-color: rgba(19, 123, 242, 0.3);
  transform: scale(1.1);
}

.map2-button {
  height: 80px;
  width: 80px;
  background: url('images/night-layer-map2.png');
  background-size: cover;
  background-color: rgb(123, 120, 120);
  border: 2px solid rgb(123, 120, 120);
  border-radius: 14px;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-size 0.5s ease-in-out, transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.map2-button:hover {
  background-color: rgba(19, 123, 242, 0.3);
  transform: scale(1.1);
}

.recenter-button {
  position: absolute;
  top: 30px;
  left: 320px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  height: 40px;
  width: 40px;
  background: url('images/recenter-icon.png');
  background-size: cover;
  background-color: transparent;
  border: transparent;
  border-radius: 14px;
  padding: 10px;
  cursor: pointer;
  transition: background-size 0.3s ease-in-out, transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.recenter-button button {
  background-color: transparent;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.recenter-button:hover {
  background-color: rgb(179, 207, 231);
  transform: scale(1.2);
}

.filter-menu {
  position: absolute;
  top: 35px;
  left: 700px;
  display: flex; /* Use flex to arrange checkboxes in a row */
  flex-wrap: wrap; /* Allow items to wrap onto the next line */
}

.filter-item {
  margin-right: 8px; /* Adjust as needed for horizontal separation */
  margin-bottom: 8px; /* Adjust as needed for vertical separation */
}

.filter-label {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.377);
  border-radius: 10px;
  backdrop-filter: blur(8px);
  transition: background-size 0.3s ease-in-out, transform 0.3s, background-color 0.3s ease
}
  
input[type="checkbox"] {
  display: none;
}

/* Style for the checked state */
.filter-label input[type="checkbox"]:checked {
  background-color: #333 !important; /* Adjust as needed for the dark background */
}

.filter-item:nth-child(1) .filter-label:hover {
  background-color: rgba(57, 180, 221, 0.8);
  transform: scale(1.2);
}

.filter-item:nth-child(2) .filter-label:hover {
  background-color: rgba(24, 119, 191, 0.8);
  transform: scale(1.2);
}
.filter-item:nth-child(3) .filter-label:hover {
  background-color: rgba(16, 188, 162, 0.8);
  transform: scale(1.2);
}

.filter-item:nth-child(4) .filter-label:hover {
  background-color: rgba(118, 151, 183, 0.8);
  transform: scale(1.2);
}
.filter-item:nth-child(5) .filter-label:hover {
  background-color: rgba(216, 168, 109, 0.8);
  transform: scale(1.2);
}

.filter-item:nth-child(6) .filter-label:hover {
  background-color: rgba(220, 144, 144, 0.8);
  transform: scale(1.2);
}

.filter-item:nth-child(7) .filter-label:hover {
  background-color: rgba(127, 161, 224, 0.8);
  transform: scale(1.2);
}

.info-window-form {
  border: #000;
}

.custom-textarea {
  width: 100%;
  height: 90px; /* Adjust height as needed */
  resize: vertical; /* Allow vertical resizing */
  font-family: Arial, Helvetica, sans-serif;
}

.save-button {
  background-color: #4caf50; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
  width: 100%;
}

.save-button:hover {
  background-color: #3d9341;
}

.save-button-container {
  display: flex;
  justify-content: center;
}